@import 'base/typography';
@import 'component/nav';

body {
  width:100%;
  background: center/cover url(/images/bg.jpg) no-repeat fixed;
  color: #fff;
  font-family: Londrina;
}

img {
  max-width:100%;
}

.container {
  width:100%;
  padding-bottom:120px;
}


#main-area {
  width:100%;
  margin:0 auto;
  text-align: center;
}

#main-area img {
  margin-top:30px;
  width:70%;
}

#main-area p {
  margin:50px auto;
  width:80%;
  font-size:23px;
}

.main-button {
  color:#fff;
  font-size:30px;
  text-decoration: none;
  background-color:#31BA8E;
  border-radius:5px;
  padding:10px 0;
  width:170px;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  z-index:2;
}

.main-button-back-layer {
  color:#fff;
  font-size:30px;
  text-decoration: none;
  background-color:#258969;
  border-radius:5px;
  padding:10px 0;
  width:170px;
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  margin-top:8px;
  z-index:1;
}

.menu-knop {
  position:relative;
}