<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Natuurgebied Borgharen | WebApp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cnmeApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="rotate-screen">
        <img src="images/rotate.png" alt="rotating-arrows">
        <p>Draai je scherm om de app te gebruiken!</p>
    </div>

    <div class="container" ng-controller="MasterController">
    <div ng-view=""></div>
    <div id="menu" class="overlay">
    <div class="full-height-background">
    </div>
      <div class="menu">
        <header>
          <div id="logo">
            <img src="images/logo.png" alt="logo">
          </div>
      </header>
        <nav>
          <ul>
            <a ng-click="menuClose()"><li style="margin-right:2%;padding-top:25px;"><img src="/images/1-10-1.svg" alt="boswachter-ruud"></li></a>
            <li ng-click="openPopup('#popup-overlay', 'jsfadein', '#popup1-content', 'jspopupdrop')" id="menu-right1" class="menu-item" style="padding-top:25px;"><img src="/images/2-11-1.svg" alt="trophy"></li>
            <li ng-click="openPopup('#popup-overlay', 'jsfadein', '#popup2-content', 'jspopupdrop')" id="menu-left2" class="menu-item" style="margin-right:2%"><img src="/images/3-12-1.svg" alt="map"></li>
            <li ng-click="openPopup('#popup-overlay', 'jsfadein', '#popup3-content', 'jspopupdrop')" id="menu-right2" class="menu-item"><img src="/images/4-13-1.svg" alt="book"></li>
          </ul>
        </nav>
        <a ng-href="#/main" id="terug" ng-click="menuClose()">
          &#60; Terug naar beginscherm
        </a>
      </div>
    </div>
    <div class="popup-black" id="popup-overlay">
    </div>
    <div class="popup" id="popup1-content">
      <img class="close" src="/images/close.png" alt="close" ng-click="closePopup('#popup-overlay', 'jsfadein', '#popup1-content', 'jspopupdrop')">
      <span class="popup-content">
        <h1>Score</h1>
        <span id="huidige-score">
          Huidige score
        </span>
        <span id="huidige-score-resultaat" ng-controller="ScoreCtrl">
          {{score}} punten
        </span>
        <img id="trophy" src="/images/flatTrophy.png" alt="flat-trophy">
      </span>
    </div>
      <div class="popup" id="popup2-content">
        <img class="close" src="/images/close.png" alt="close" ng-click="closePopup('#popup-overlay', 'jsfadein', '#popup2-content', 'jspopupdrop')">
        <span class="popup-content">
          <h1>Voortgang</h1>
          <span id="voortgang-resultaat">
            {{score}}%
          </span>
          <img id="voortgang" src="/images/voortgang0.png" alt="voortgang">
        </span>
      </div>
      <div class="popup" id="popup3-content">
        <img class="close" src="/images/close.png" alt="close" ng-click="closePopup('#popup-overlay', 'jsfadein', '#popup3-content', 'jspopupdrop')">
        <span class="popup-content">
          <h1>Informatie</h1>
          <button class="button" id="cnme-info">
            CNME
          </button>
          <p class="popup-info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <button class="button" id="app-info">
            Over app
          </button>
          <p class="popup-info2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </span>
      </div>

    </div>

    <script>
        var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }

    };


/*
if (! isMobile.Android() ) {
        document.location.href = "#/noandroid";
};

if (screen.width > 479) {
    document.location.href = "#/noandroid";
};

if (screen.width < 319) {
    document.location.href = "#/noandroid";
};
*/
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/verhaal.js"></script>
        <script src="scripts/controllers/verhaal-2.js"></script>
        <script src="scripts/controllers/voortgang.js"></script>
        <script src="scripts/controllers/score.js"></script>
        <script src="scripts/controllers/informatie.js"></script>
        <script src="scripts/controllers/verhaal-3.js"></script>
        <script src="scripts/controllers/verhaal-4.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/verhaal-5.js"></script>
        <script src="scripts/controllers/verhaal-6.js"></script>
        <script src="scripts/controllers/verhaal-7.js"></script>
        <script src="scripts/controllers/verhaal-8.js"></script>
        <script src="scripts/controllers/verhaal-9.js"></script>
        <script src="scripts/controllers/verhaal-10.js"></script>
        <script src="scripts/controllers/verhaal-11.js"></script>
        <script src="scripts/controllers/verhaal-12.js"></script>
        <script src="scripts/controllers/verhaal-13.js"></script>
        <script src="scripts/controllers/verhaal-14.js"></script>
        <script src="scripts/controllers/verhaal-15.js"></script>
        <script src="scripts/controllers/verhaal-16.js"></script>
        <script src="scripts/controllers/verhaal-17.js"></script>
        <script src="scripts/controllers/verhaal-18.js"></script>
        <script src="scripts/controllers/verhaal-19.js"></script>
        <script src="scripts/controllers/verhaal-20.js"></script>
        <script src="scripts/controllers/noandroid.js"></script>
        <script src="scripts/controllers/diploma.js"></script>
        <script src="scripts/controllers/verhaal-21.js"></script>
        <script src="scripts/controllers/verhaal-22.js"></script>
        <script src="scripts/controllers/verhaal-23.js"></script>
        <script src="scripts/controllers/verhaal-24.js"></script>
        <script src="scripts/controllers/verhaal-25.js"></script>
        <script src="scripts/controllers/verhaal-26.js"></script>
        <script src="scripts/controllers/verhaal-27.js"></script>
        <script src="scripts/controllers/verhaal-28.js"></script>
        <script src="scripts/controllers/verhaal-29.js"></script>
        <script src="scripts/controllers/verhaal-30.js"></script>
        <!-- endbuild -->
<script>
$('#cnme-info').click(function() {
  $('.popup-info').slideToggle();
  $('.popup-info2').slideUp();
});

$('#app-info').click(function() {
  $('.popup-info2').slideToggle();
  $('.popup-info').slideUp();
});
</script>
</body>
</html>
