<div id="main-area">
  <p style="margin-top:20px;" id="welkom">Gefeliciteerd! Je bent het beste hulpje! Jij hebt het diploma dubbeldik verdient! Klik op "Diploma" om je diploma te bekijken!</p>

  <div id="main" class="button-wrap">
      <a id="button-gehaald" class="button" ng-href="#/menu"> DIPLOMA</a>
  </div>
</div>
  <img id="gehaald" src="/images/gehaald.svg" alt="boswachter-ruud">

<script>
	$('body').css('background','url(/images/bg.jpg) no-repeat');
  	$('body').css('background-size','cover');
</script>