<div style="height:120vh;background:url(/images/bg.jpg) no-repeat;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<div id="main-area">
  <p style="margin-top:20px;" id="welkom">Gefeliciteerd! Je bent het beste hulpje! Jij hebt het diploma dubbeldik verdiend! Klik op "Diploma" om je diploma te bekijken!</p>

  <div id="main" class="button-wrap">
      <a id="button-gehaald" class="button" href="images/diploma.pdf" target="_blank" download> DIPLOMA</a>
  </div>
</div>
  <img id="gehaald" src="/images/gehaald.svg" alt="boswachter-ruud">