<header style="float:left;">
  <div id="logo">
    <img src="images/logo.png" alt="logo">
  </div>
</header>
<nav>
  <ul>
    <a ng-href="#/verhaal"><li class="menu-item" id="menu-left1">Verhaal<img src="/images/boswachter-01.png" alt="boswachter-ruud"></li></a>
    <li class="menu-item" id="menu-right1">Score<img src="/images/flat-trophy.png" alt="trophy"></li>
    <li class="menu-item" id="menu-left2">Voortgang<img src="/images/kaart-03.png" alt="map"></li>
    <li class="menu-item" id="menu-right2">Informatie<img src="/images/boek-02.png" alt="book"></li>
  </ul>
</nav>
<a ng-href="#/main" id="terug">
  < Terug naar beginscherm
</a>
<div class="popup-black">
</div>
<img class="close" src="/images/close.png" alt="close">
<div class="popup">
  <span class="popup-content" id="popup1">
    <h1>Score</h1>
  </span>
  <span class="popup-content" id="popup2">
    <h1>Voortgang</h1>
  </span>
  <span class="popup-content" id="popup3">
    <h1>Informatie</h1>
  </span>
</div>
<script>
$('.menu-item').click(function() {
  $('.popup-black').fadeIn(0);
  $('.popup').fadeIn(0);
  $('.close').fadeIn(0);
});
$('.close').click(function() {
  $('.popup-black').fadeOut(0);
  $('.popup').fadeOut(0);
  $('.close').fadeOut(0);
  $('.popup-content').fadeOut(0);
});
$('#menu-right1').click(function() {
  $('#popup1').fadeIn(0);
});
$('#menu-left2').click(function() {
  $('#popup2').fadeIn(0);
});
$('#menu-right2').click(function() {
  $('#popup3').fadeIn(0);
});
</script>
