                                                                <!-- OPDRACHT 2 -->
<div style="height:120vh;background:url(/images/achtergrond2.jpg) no-repeat;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div id="main-area">
    <div id="textballon-rechts">
      <p> Dat is een moeilijk woord, maar eigenlijk betekent het dat daardoor de planten sneller groeien. In poep zitten veel stoffen die plantjes eten.
      </p>
    </div>
    <img class="char-left" src="/images/boswachter-01.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-11">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-13">VOLGENDE &#62;</a>
  </div>
</div>
