                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div style="height:120vh;background:url(/images/achtergrond3.jpg) no-repeat center;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<div id="main-area">
    <div id="textballon-rechts">
      <p>Hoi ik ben Blub de vis. Ik ben op zoek naar iemand die mij kan helpen! De Maas is erg vies. Er ligt veel afval in.</p>
    </div>
    <img class="char-left laag" src="/images/blub-sad.svg" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-19">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-21">VOLGENDE &#62;</a>
  </div>
</div>
