                                                                <!-- QUIZ -->
<div style="height:120vh;background:url(/images/achtergrond2.jpg) no-repeat;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>

<div id="popup-goed" class="popup">
  <span id="popup-content1" class="popup-content">
    <h1>Goed</h1>
    <span class="voltooide-vraag">Je hebt de vraag goed beantwoord! Tik op volgende om door te gaan.</span>
    <a ng-href="#/verhaal-19" class="button popup-button" ng-click="closePopup('#popup-overlay', 'jsfadein', '#popup-goed', 'jspopupdrop'); upScore(50);">Volgende</a>
    <img id="trophy" src="/images/balloons.png" alt="flat-trophy">
  </span>
</div>
<div id="popup-fout" class="popup">
  <img class="close" src="/images/close.png" alt="close" ng-click="closePopup('#popup-overlay', 'jsfadein', '#popup-fout', 'jspopupdrop')">
  <span id="popup-content2" class="popup-content">
    <h1>Fout</h1>
    <span class="voltooide-vraag2">Je hebt de vraag fout beantwoord. Tik op 'Opnieuw' om het nog een keer te proberen.</span>
    <a href="javascript:;" class="button popup-button" ng-click="closePopup('#popup-overlay', 'jsfadein', '#popup-fout', 'jspopupdrop')">Opnieuw</a>
  </span>
</div>

  <div id="quiz">
    <p>Vraag 4: Groeien plantjes sneller door de poep?</p>
    <div>
      <a ng-click="openPopup('#popup-overlay','jsfadein','#popup-fout','jspopupdrop')" class="fout button optie">Nee, de poep doet helemaal niets</a>
      <a ng-click="openPopup('#popup-overlay','jsfadein','#popup-fout','jspopupdrop')" class="fout button optie">Nee, het groeit minder juist snel</a><br>
      <a ng-click="openPopup('#popup-overlay','jsfadein','#popup-goed','jspopupdrop')" class="goed button optie">Ja, omdat er goede stoffen in zitten</a>
      <a ng-click="openPopup('#popup-overlay','jsfadein','#popup-fout','jspopupdrop')" class="fout button optie">Ja, want ze schrikken van de stank</a>
    </div>
  </div>
