<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
</header>
<div id="main-area">

</div>

  <div id="footer">
    <div id="buttons">

      <div id="previous">
        <a ng-href="#/menu" class="button">
        < VORIGE
        </a>
        <a href="" class="button-back-layer">
        < VORIGE
        </a>
      </div>

      <div id="next">
        <a ng-href="#/menu" class="button">
        VOLGENDE >
        </a>
        <a href="" class="button-back-layer">
        VOLGENDE >
        </a>
        </div>

    </div>
  </div>