                                                                <!-- QUIZ -->
<div id="achtergrond-verhaal"></div>
<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
</header>
  <div id="quiz">
    <p>Vraag 2: Blablabla</p>
    <div>
      <div class="optie"><label><input name="q1" type="radio" value="a" />Q1 A</label></div>
      <div class="optie"><label><input name="q1" type="radio" value="b" />Q1 B</label></div>
      <div class="optie"><label><input name="q1" type="radio" value="c" />Q1 C</label></div>
      <div class="optie"><label><input name="q1" type="radio" value="c" />Q1 C</label></div>
      <input class="buttonquiz" type="button" value="Antwoord">&nbsp;<span id="ans1" class="chkans"></span>
    </div>
  </div>

<script>
  $('body').css('background','url(/images/achtergrond2.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
<script>
  
</script>