                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div style="height:120vh;background:url(/images/achtergrond4.jpg) no-repeat;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<div id="main-area">
  <div id="quiz" class="auto-height">
    <p>Vraag 5:  Hoeveel oogjes heeft het beestje?</p>
    <div>
      <input ng-model="questionfield" type="number">
    </div>
  </div>

    <img style="margin-top: 100px !important;" class="char-left laag" src="/images/meike.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-32">&#60; VORIGE</a>
      <a ng-show="questionfield" class="button buttonfade" ng-href="#/verhaal-34">VOLGENDE &#62;</a>
  </div>
</div>
