                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div id="main-area">
    <div id="textballon-rechts">
      <p> Ik woon dus niet meer graag in de rivier. Jullie kunnen helpen door het afval op te ruimen.</p>
    </div>
    <img class="char-left laag" src="/images/blub-sad.svg" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-20">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-22">VOLGENDE &#62;</a>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond3.jpg) center no-repeat');
  $('body').css('background-size','cover');
</script>
