                                                                <!-- OPDRACHT 2 -->
<div id="achtergrond-verhaal"></div>
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div id="main-area">
    <div id="textballon-rechts">
      <p> De koeien en paarden zijn erg belangrijk voor de natuur hier! Je zou het niet zeggen, maar hun poep is bijna het belangrijkst.
      </p>
    </div>
    <img class="char-left" src="/images/boswachter-01.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-9">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-11">VOLGENDE &#62;</a>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond2.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
