<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
</header>
<div id="main-area">
    <div id="textballon-links">
      <p> Help jij mij de stenen te zoeken? Maak een foto van alle drie de stenen samen wanneer je ze gevonden hebt.</p>
    </div>
    <img id="worm" class="char-left" src="/images/worm-07.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <button><a ng-href="#/verhaal-4">< VORIGE</a></button>
      <button><a ng-href="#/verhaal-6">VOLGENDE ></a></button>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond1.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>