                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div id="main-area">
    <div id="textballon-rechts">
      <p>Wat ik nodig heb zijn drie van mijn insectenvriendjes. Als jij zegt hoe ze eruit zien weet ik of je ze gevonden hebt. </p>
    </div>
    <img class="char-left laag" src="/images/meike.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-27">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-29">VOLGENDE &#62;</a>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond4.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
