<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
</header>
<div id="main-area">
    <div id="textballon-links">
      <p>Om hulpboswachter te worden moet je bekend zijn bij de dieren in het gebied en hun leefomgeving.</p>
    </div>
    <img class="char-right" id="flipped" src="/images/boswachter-01.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-3">VOLGENDE &#62;</a>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
