                                                                <!-- OPDRACHT 1 -->

<div style="height:120vh;background:url(/images/achtergrond2.jpg) no-repeat;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<div id="black"></div>

<div id="voltooid">
  <h1 style="background-color:#31BA8E;border-top-right-radius: 20px;
  border-top-left-radius: 20px; padding-top:15px;padding-bottom:15px;margin-top:-23px;">Goed gedaan!</h1>
  <span id="huidige-score" style="margin-top:-30px;">
      Je verdient:
    </span>
    <span id="huidige-score-resultaat" style="margin-top:-30px;">
      25 punten
    </span>
  <img id="trophy" src="/images/balloons.png" alt="flat-trophy">
</div>


<div id="footer" style="z-index:10000;">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-18">&#60; VORIGE</a>
      <a class="button" id="volgende" ng-href="#/verhaal-20">VOLGENDE &#62;</a>
  </div>
</div>
