
<div style="min-height:100vh;" id="main-area">
    <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
    <img src="" alt="" id="preview">
    <div id="canvas"><canvas id="maincanvas"></canvas></div>
    <p id="upload-info">Tik op de camera om een foto te maken/uploaden.</p>
    <img id="uploader" src="/images/camera.png">
    <div id="black"></div>
   
</div>

<div id="footer">
  <div class="button-wrap">
      <button><a ng-href="#/verhaal-6">&#60; VORIGE</a></button>
      <button id="volgende" class="score25"><a ng-href="#/verhaal-8">VOLGENDE &#62;</a></button>
  </div>
</div>

<script>
$('#volgende').fadeOut(0);
var imageUploadButton = document.getElementById('uploader');

		$('#uploader').on('click', function(e){
			
			e.preventDefault();
			var evt = document.createEvent('HTMLEvents');
			evt.initEvent('click', true, true); 
			document.getElementById('cameraInput').dispatchEvent(evt);

		});

    function readURL(input) {
      var canvas = document.getElementById('maincanvas');
      var context = canvas.getContext('2d');
      var imageObj = new Image();

      if (input.files && input.files[0]) {
            
            var reader = new FileReader();

            reader.onload = function (e) {
              console.log(e);
                imageObj.src = e.target.result;

  

                var newWidth = imageObj.width * 0.4;
                var newHeight = imageObj.height * 0.4;

                canvas.width = newWidth;
                canvas.height = newHeight;

                context.drawImage(imageObj, 0, 0, newWidth, newHeight);

                var data = canvas.toDataURL('image/jpeg', 1.0);

          localStorage.setItem('image', data);

          document.getElementById('maincanvas').src = data;


            }

            $('#upload-info').fadeOut(0);
            $('#volgende').fadeIn(0);

            reader.readAsDataURL(input.files[0]);
        }

    }

    $('#cameraInput').change(function(){
        readURL(this);
    });

    if(localStorage.getItem('image')){
      document.getElementById('preview').src = localStorage.getItem('image');
    }

  $('body').css('background','url(/images/achtergrond1.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>