                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div style="height:120vh;background:url(/images/achtergrond3.jpg) no-repeat center;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<div id="main-area">
    <div id="textballon-rechts">
      <p> Ga afval opruimen. Bij elk stuk dat je opruimt tik je op +1. Als je 10 of meer stukken hebt gevonden krijg je 25 punten!</p>
    </div>
    <img class="char-left laag" src="/images/blub-sad.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-22">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-24">VOLGENDE &#62;</a>
  </div>
</div>
