                                                                <!-- OPDRACHT 2 -->
<div id="achtergrond-verhaal"></div>
<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
</header>
<div id="main-area">
    <div id="textballon-rechts">
      <p> Ga maar eens op zoek naar zo een hoop poep! Neem je loep mee en onderzoek de poep. Klik op volgende als je de poep onderzocht hebt.
      </p>
    </div>
    <img class="char-left" src="/images/boswachter-01.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-12">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-14">VOLGENDE &#62;</a>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond2.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
