                                                                <!-- QUIZ -->
<div id="achtergrond-verhaal"></div>
<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
</header>

<div class="popup-black">
  </div>

<div id="popup1" class="popup">
  <span id="popup-content1" class="popup-content">
    <h1>Goed</h1>
    <span class="voltooide-vraag">Je hebt de vraag goed beantwoord! Tik op volgende om door te gaan.</span>
    <a ng-href="#/verhaal-18" class="button popup-button">Volgende</a>
    <img id="trophy" src="/images/balloons.png" alt="flat-trophy">
  </span>
</div>
<img class="close" src="/images/close.png" alt="close">
<div id="popup2" class="popup">
  <span id="popup-content2" class="popup-content">
    <h1>Fout</h1>
  </span>
</div>

  <div id="quiz">
    <p>Vraag 3: Waar komen de Galloway koeien vandaan?</p>
    <div>
      <a class="fout button optie">Nederland</a>
      <a class="goed button optie">Schotland</a>
      <a class="fout button optie">Spanje</a>
      <a class="fout button optie">Engeland</a>
    </div>
  </div>

<script>
$('.goed').click(function() {
  $('.popup-black').fadeIn(0);
  $('#popup1').fadeIn(0);
  $('#popup-content1').fadeIn(0);
  $('#quiz').fadeOut(0);
});

$('.fout').click(function() {
  $('.popup-black').fadeIn(0);
  $('#popup2').fadeIn(0);
  $('.close').fadeIn(0);
  $('#popup-content2').fadeIn(0);
  $('#quiz').fadeOut(0);
});

$('.close').click(function() {
  $('.popup-black').fadeOut(0);
  $('.popup').fadeOut(0);
  $('.close').fadeOut(0);
  $('.popup-content').fadeOut(0);
  $('#quiz').fadeIn(0);
});

  $('body').css('background','url(/images/achtergrond2.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
