                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div style="height:120vh;background:url(/images/achtergrond3.jpg) no-repeat center;background-size:cover;position:fixed;top:0;left:0;" id="achtergrond-verhaal"></div>
<div id="main-area">
    <div id="textballon-rechts">
      <p> Bedankt voor het helpen. Doordat de Maas nu minder vuil is, ben ik een blije vis.</p>
    </div>
    <img class="char-left laag" src="/images/blub.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-24">&#60; VORIGE</a>

      <a class="button score75" ng-href="#/verhaal-26" ng-click="upScore(75)">VOLGENDE &#62;</a>
  </div>
</div>
