<header>
  <a ng-href="#/menu">
    <div id="hamburger">
      <div></div>
        <span></span>
        <span></span>
        <span></span>
     </div>
  </a>
  <a id="steen" ng-href="#/menu">
    <div>
      <img src="/images/steen-08.png" alt="steen">
    </div>
  </a>
</header>
<div id="main-area">
    <div id="textballon-links">
      <p> Ik zoek een <span>Vuursteen</span>, <span>Rotssteen</span> en <span>Zeesteen</span>. Klik op de steen rechtsboven om een stenenoverzicht te bekijken en een foto te maken.</p>
    </div>
    <img id="worm" class="char-left" src="/images/worm-07.png" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <button><a ng-href="#/verhaal-5">< VORIGE</a></button>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond1.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>