                                                                <!-- VERHAAL -->
<header>
  <button id="hamburger" ng-click="menuOpen()">
    <div></div>
      <span></span>
      <span></span>
      <span></span>
   </button>
</header>
<div id="main-area">
    <div id="textballon-links">
      <p> Loop eens rond in het gebied en praat met de dieren die je tegenkomt. Zij zullen je opdrachten geven. Voor elke voltooide opdracht krijg je punten. Bij een score van 100 krijg je officieel je boswachtersdiploma. Succes!</p>
    </div>
    <img class="char-right" id="flipped" src="/images/boswachter.svg" alt="boswachter-ruud">
</div>

<div id="footer">
  <div class="button-wrap">
      <a class="button" ng-href="#/verhaal-2">&#60; VORIGE</a>
      <a class="button" ng-href="#/verhaal-4">VOLGENDE &#62;</a>
  </div>
</div>

<script>
  $('body').css('background','url(/images/achtergrond.jpg) no-repeat');
  $('body').css('background-size','cover');
</script>
